
.phone-frame {
    width: 320px;
    height: 640px;
    top: -40px;
    background: black;
    border-radius: 40px;
    padding: 9px;
    box-shadow: 0 20px 40px rgba(0,0,0,.4);
    position: relative;
}

.app-notch {
    width: 120px;
    height: 18px;
    background: black;
    border-radius: 0 0 15px 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.app-screen {
    width: 100%;
    height: 100%;
    background: #F4F6F8;
    border-radius: 30px;
    overflow: hidden;
    gap: 7px;
    display: flex;
    flex-direction: column;
}

.menu-icon{
    position:absolute;
    left:26px;
    font-size:20px;
    cursor:pointer;
}

.bell-icon{
    position:absolute;
    right:24px;
    font-size:20px;
    color: black;
    cursor:pointer;
}

.app-header {
    height: 60px;
     background: #F4F6F8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.app-content {
     padding: 20px;
     text-align: left;
     width: 93%;
     height: auto;
     justify-self: center;
     border-radius: 10px;
     margin:0 auto;   
     background: #02D5FF;
     color: white;
}

.app-shift{
    padding: 5px;
     text-align: left;
     position: relative;
     right: 35px;
     width: 70%;
     height: 60px;
     border-radius: 10px;
     margin:0 auto;   
     background: #B5C1CD28;
     color: white;
     border: solid 2px #6b7280 ;
}

.app-Footer{
    height:65px;
    background:#fff;
    border-top:1px solid #e5e7eb;
    display:flex;
    top:12px;
    justify-content:space-around;
    align-items:center;
    position:relative;
    bottom:0;
}

/* Tek Buton */

.nav-item{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:11px;
    color:#6b7280;
    cursor:pointer;
    transition:all .2s ease;
}



.nav-item i{
    font-size:18px;
    margin-bottom:2px;
}

/* Hover */

.nav-item:hover{
    color:#2563eb;
}


.nav-item.active{
    color:#2563eb;
    font-weight:600;
}

.nav-item.active i{
    transform:scale(1.1);
}



.quick-actions{
    display:flex;
    justify-content:space-around;
    padding:10px 15px;
    gap:8px;
}

.action-card{
    flex:1;
    height:55px;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:11px;
    font-weight:600;
    background:#fff;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
    cursor:pointer;
}

.action-card i{
    font-size:18px;
    margin-bottom:4px;
}

.green{ color:#22c55e; }
.red{ color:#ef4444; }
.blue{ color:#3b82f6; }


/* Bildirim Kartı */

.app-bordo{
    margin:10px 15px;
    padding:12px;
    background:#fff;
    border-radius:14px;
    display:flex;
    align-items:center;
    gap:10px;
    box-shadow:0 6px 14px rgba(0,0,0,.08);
}

.app-shiftStartBt{
    width: 24px;
    height: 24px;
    background-color: #22c55e;
    color: white;
    scale: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(34,197,94,.4);
    transition: all .2s ease;
}





.notice-left{
    width:40px;
    height:40px;
    background:#f1f5f9;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#2563eb;
}

.notice-center{
    flex:1;
}

.notice-center h4{
    font-size:13px;
    margin:0;
}

.notice-center p{
    font-size:11px;
    color:#6b7280;
    margin:2px 0 0;
}

.notice-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:6px 10px;
    font-size:11px;
    border-radius:8px;
    cursor:pointer;
}


/* İstatistik Alanı */

.stats-box{
    margin:10px 15px;
    display:flex;
    gap:10px;
}

.stat-item{
    flex:1;
    background:#fff;
    border-radius:14px;
    padding:10px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,.07);
}

.stat-item h3{
    margin:0;
    font-size:18px;
    color:#2563eb;
}

.stat-item span{
    font-size:11px;
    color:#6b7280;
}

.phone-frame{
    animation: phoneEnter 1s ease forwards;
}

@keyframes phoneEnter{
    from{
        transform:translateX(-100px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}

.app-content,
.app-shift,
.app-shiftStartBt,
.app-shiftDiv,
.quick-actions,
.app-bordo,
.stats-box{
    opacity:0;
    transform:translateY(20px);
    animation: fadeUp .6s ease forwards;
}

.app-content{ animation-delay:.2s }
.app-shift{ animation-delay:.4s }
.app-shiftDiv{ animation-delay:.4s }
.quick-actions{ animation-delay:.6s }
.app-bordo{ animation-delay:.8s }
.stats-box{ animation-delay:1s }

@keyframes fadeUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}
