

.typing-cursor::after {
  content: "|";
  margin-left: 4px;

  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
     from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-up {
  animation: fadeUp 1s ease forwards;
}

.animate-fade-down {
  animation: fadeDown 1s ease forwards;
}

.animate-fade-left {
  animation: fadeLeft 1s ease forwards;
}

.animate-fade-right {
  animation: fadeRight 1.2s ease forwards;
}

.delay-100 { animation-delay: .1s; }
.delay-200 { animation-delay: .2s; }
.delay-400 { animation-delay: .4s; }
.delay-600 { animation-delay: .6s; }
.delay-800 { animation-delay: .8s; }


.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

/* Görünce aktif olur */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Sağdan */
.reveal-right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.8s ease;
}

.reveal-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Soldan */
.reveal-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.8s ease;
}

.reveal-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* Gecikmeler */
.delay-1 { transition-delay: .1s; }
.delay-2 { transition-delay: .2s; }
.delay-3 { transition-delay: .3s; }
.delay-4 { transition-delay: .4s; }
.delay-5 { transition-delay: .5s; }