

.typing-cursor::after {
  content: "|";
  margin-left: 4px;

  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
     from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.animate-fade-up {
  animation: fadeUp 1s ease forwards;
}

.animate-fade-down {
  animation: fadeDown 1s ease forwards;
}

.animate-fade-right {
  animation: fadeRight 1.2s ease forwards;
}


.delay-200 { animation-delay: .2s; }
.delay-400 { animation-delay: .4s; }
.delay-600 { animation-delay: .6s; }
.delay-800 { animation-delay: .8s; }
